@import "colors.scss";

.resume {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 62rem;
  padding: 0 1rem 1rem 1rem;
  margin: 0 auto;
  gap: 2.5rem;
}

.work-list p {
  padding: 1rem 0 0 0;
  color: $text;
  font-size: 1rem;
}

.description {
  display: flex;
  flex-direction: column;
  img {
    border: 2px solid $header;
    border-radius: 10px;
    width: 250px;
  }
}

.description figcaption {
  padding: 1.5rem 0 0 0;
}

.description h2 {
  padding-top: 1rem;
  font-size: 2rem;
  color: $text;
}
.description h4 {
  font-size: 1.2rem;
  padding-top: 0.8rem;
  padding-bottom: 2rem;
  color: $header;
}

.description figcaption {
  line-height: 1.3rem;
  padding-bottom: 2rem;
}

.cv-download {
  margin-top: 1rem;
  padding: 1rem;
  width: 35%;
  background-color: $header;
  border-radius: 5px;
  color: $button-text;
  font-weight: bold;
}

.cv-download:hover {
  background-color: $button-background;
  transition: background-color 0.3s ease-in-out;
}

.skills {
  display: flex;
  flex-direction: column;
  h2 {
    font-size: 2rem;
    padding: 1rem 0 0 0;
  }
  h4 {
    font-size: 1.2rem;
    padding-top: 0.8rem;
    padding-bottom: 2rem;
    color: $header;
  }
}

.stack-logos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  gap: 1rem;
  padding: 0 0 2rem 0;
  img {
    filter: sepia(30%) hue-rotate(5deg);
    width: 50px;
  }
  :nth-child(4) img {
    width: 35px;
    height: auto;
  }
  :nth-child(10) img {
    width: 80px;
    height: auto;
  }
  :nth-child(14) img {
    width: 80px;
    height: auto;
  }
  :nth-child(15) img {
    width: 80px;
    height: auto;
  }
}

.cv-button-container {
  display: flex;
  flex-direction: column;
  p {
    font-weight: 500;
    opacity: 50%;
  }
}

.language-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .language-section-item {
    display: flex;
    background-color: rgb(251, 245, 219);
    justify-content: space-between;
    border-radius: 10px;
    padding: 1rem;

    img {
      filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
      left: 50%;
      width: 45px;
      height: auto;
    }
  }
  h3 {
    color: $text;
    padding: 0 0 0.5rem 0;
  }
  p {
    color: $text;
    opacity: 75%;
  }
}
