$header: rgb(255, 187, 0);
$border: #ff9900;
$text: rgb(0, 0, 0);
$mobile-background: rgba(217, 209, 197, 0.5);
$button-background: rgba(255, 202, 87, 0.5);
$button-text: rgb(48, 36, 2);
$dates: rgb(165, 165, 165);
$light-gray: rgb(211, 211, 211);
$white: #ffff;
