@import "colors.scss";

.footer {
  margin: 0 auto;
  margin-top: auto;
  width: 100%;

  background-color: $header;
  border-top: 2px solid $border;
}

.footer-container {
  max-width: 62rem;
  padding: 1rem;
  margin: 0 auto;
}

.social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-media-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.social-media-icons a:hover {
  transition: all 0.3s ease-in-out;
  filter: invert(100);
}
